<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <title>Document</title>
</head>
<body>
    <div class="container">

        <form action="calcular/">
            <label class="label" for="altura">Altura:</label>
            <div class="control">
                <input type="number" id="altura" name="altura" step="0.1" class="input" required>
            </div>
            <label class="label" for="peso">Peso:</label>
            <div class="control">
            <input type="number" id="peso" name="peso" step="0.1" class="input" required>
        </div>
        <button type="submit" class="button is-link">Calcular IMC</button>
        
    </form>
</div>
</body>
</html>